@import '../bootstrap/bootstrap.scss';
@import '../bootstrap/bootstrap-reboot.scss';

$primary:#98b411;
$secondary: #dddddd;

.invert{
  filter: invert(.8);
  transition: all .3s;
  &:hover{
    filter: invert(1);
  }
}
header{
  width: 100%;
  z-index: 99999;
}
#burger{

  li{
    list-style-type: none;
    padding:5px 0;
    a{
      color:$secondary;
      text-decoration: none;
      &:hover{

        &::before{
          opacity: 1;
        }
      }
      &::before{
        content:'';
        width:10px;
        height: 10px;
        background:$primary;
        display:inline-block;
        opacity: 0;
        margin-right:15px;
      }
    }
  }
}
.logo{
  margin: 10px 0;
  img{
    width: 120px;
  }
}
section{
  padding-top:81px;
  z-index: 0;
}


#jumbotron{
  height: 60vh;
  overflow: hidden;
  position: relative;
      #img_1{
        position: absolute;
        top: -200px;
        animation-name: fade;
        animation-delay: 8s;
        animation-iteration-count: infinite;
        animation-duration: 8s;

      }
      #img_2{
        position: absolute;
        top:-500px;
        animation-name: fade;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-duration: 8s;

      }
      #img_3{
        position: absolute;
        top:-400px;
        animation-name: fade;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-duration: 8s;
      }
}

@keyframes fade{
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#title{
  height: 60vh;
  position: relative;
      #logo{
        position: absolute;
      }
}

#News{
  height: 30vh;
  h2{
    color: #98b411;
  }
  p{
    color: #1A1A1A;
  }
}
