@import '../bootstrap/bootstrap.scss';
@import '../bootstrap/bootstrap-reboot.scss';



@keyframes fade{
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@-webkit-keyframes fade{
      0% {
          opacity: 0;
        }
      20% {
        opacity: 1;
      }
      33% {
        opacity: 1;
      }
      53% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
}


#jumbotron{
  height: 60vh;
  overflow: hidden;
  position: relative;

      #img_1{
        position: absolute;
        top: -200px;
        animation-delay: 0s;
        animation-duration: 12s;
        animation-name: fade;
        animation-iteration-count: infinite;

      }
      #img_2{
        position: absolute;
        top:-500px;
        animation-delay: 8s;
        animation-duration: 12s;
        animation-name: fade;
        animation-iteration-count: infinite;
      }
      #img_3{
        position: absolute;
        top:-400px;
        animation-delay: 4s;
        animation-duration: 12s;
        animation-name: fade;
        animation-iteration-count: infinite;
      }
}


#title{
  height: 60vh;
  position: relative;
      #logo{
        position: absolute;
      }

}

#News{
  height: 40vh;
  h2{
    color: #98b411;
  }
  p{
    color: #1A1A1A;
  }
}
