<!DOCTYPE html>
<html lang="fr">
 <head>
   <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                   <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="../assets/css/carte.css"> 
                    <link rel="stylesheet" href="../assets/css/style.css">
            <title>Document</title>
        </head>
        <body>
            <header class="bg-dark position-absolute">
                <div class="container-fluid">
                    <div id="burger">
                        <div class="pos-f-t">
                                 <div class="collapse" id="navbarToggleExternalContent">
                              <div class="bg-dark p-4">
                                <ul>
                                  <li><a href="../index.html">Accueil</a></li>
                                  <li><a href="photo.html">Les photos</a></li>
                                  <li><a href="restaurant.html">Le Restaurant</a></li>
                                  <li><a href="carte.html">La Carte</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="d-flex">
                              <nav class="navbar navbar-dark bg-dark">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                              </nav>
                              <div class="w-100 text-center logo">
                                <img src="../assets/img/logo_wasabecode.png" alt="logo_wasabecode" id="logo">  
                              </div>
                            </div>
                            
                            
                          </div>
                    </div>
                    <div class="logo-titre">
                        
                    </div>
                </div>
            </header>
            <section>
                <div class="container">
                        <ul class="nav nav-pills mb-3 justify-content-between" id="pills-tab" role="tablist">
                                <li class="nav-item col-md-2 col-sm-2">
                                  <a class="nav-link active" id="pills-menu-tab" data-toggle="pill" href="#pills-menu" role="tab" aria-controls="pills-menu" aria-selected="true">Menu</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-2">
                                  <a class="nav-link" id="pills-entrees-tab" data-toggle="pill" href="#pills-entrees" role="tab" aria-controls="pills-entrees" aria-selected="false">Entrées</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-2">
                                  <a class="nav-link" id="pills-plats-tab" data-toggle="pill" href="#pills-plats" role="tab" aria-controls="pills-plats" aria-selected="false">Plats</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-2">
                                  <a class="nav-link" id="pills-desserts-tab" data-toggle="pill" href="#pills-desserts" role="tab" aria-controls="pills-desserts" aria-selected="false">Desserts</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-2">
                                  <a class="nav-link" id="pills-boissons-tab" data-toggle="pill" href="#pills-boissons" role="tab" aria-controls="pills-boissons" aria-selected="false">Boissons</a>
                                </li>
                              </ul>
                              <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
                                    <div class="container scroll">
                                        <div clas="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Menu exclu<span class="badge badge-pill badge-light bg-primary text-light">45 euro</span></h2>
                                            <p>7 services:</p>
                                            <ul>
                                                <li class="font-italic">Amuses-bouches</li>
                                                <li class="font-italic">3 entrées</li>
                                                <li class="font-italic">1 poisson</li>
                                                <li class="font-italic">1 viande</li>
                                                <li class="font-italic">1 dessert</li>
                                                <li class="font-italic">.... Jusque 21h</li>
                                            </ul>
                                          </div>
                                        </div>
                                        
                                      </div>
                            
                                    </div>




                                <div class="tab-pane fade " id="pills-entrees" role="tabpanel" aria-labelledby="pills-entrees-tab">
                                  <div class="container scroll">
                                    <div clas="row">
                                      <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                        <h2 class="d-flex justify-content-between">Dimsum<span class="badge badge-pill badge-light bg-primary text-light">8 euro</span></h2>
                                        <p class="font-italic">Ravioles fourées aux crevettes (4pcs)</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                        <h2 class="d-flex justify-content-between">Edamame<span class="badge badge-pill badge-light ml-5 bg-primary text-light">9euro</span></h2>
                                        <p class="font-italic">Haricots</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                          <h2 class="d-flex justify-content-between">Dumplings poilés<span class="badge badge-pill badge-light ml-5 bg-primary text-light">9 euro</span></h2>
                                          <p class="font-italic">Ravioles de porc poielées</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Yakitori<span class="badge badge-pill badge-light ml-5 bg-primary text-light">10 euro</span></h2>
                                            <p class="font-italic">Brochettes de poulet (5pcs)</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Usuyaki<span class="badge badge-pill badge-light ml-5 bg-primary text-light">12 euro</span></h2>
                                            <p class="font-italic">Rouleaux de boeuf à l'ail chaud</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Misso Siro<span class="badge badge-pill badge-light ml-5 bg-primary text-light">8 euro</span></h2>
                                            <p class="font-italic">Potage miso</p>
                                        </div>
                                    </div>
                                  </div>
                        
                                </div>




                            
                                <div class="tab-pane fade" id="pills-plats" role="tabpanel" aria-labelledby="pills-plats-tab">
                                    <div class="container scroll">
                                        <div clas="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Foie gras Yaki No Teriyaki sauce<span class="badge badge-pill badge-light bg-primary text-light">25 euro</span></h2>
                                            <p class="font-italic">Escalope de foie gras à la plancha sur riz de sushi, sauce teriyaki</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Chef To Kusei Age Gyoza<span class="badge badge-pill badge-light ml-5 bg-primary text-light">19 euro</span></h2>
                                            <p class="font-italic">Raviolis frits de poulet et légumes façon du Chef</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                              <h2 class="d-flex justify-content-between">Ebi No Tempura Salade<span class="badge badge-pill badge-light ml-5 bg-primary text-light">17 euro</span></h2>
                                              <p class="font-italic">Salade de crevettes de tempura aux épices</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Nasu No Miso Yaki<span class="badge badge-pill badge-light ml-5 bg-primary text-light">15 euro</span></h2>
                                                <p class="font-italic">Demi aubergine bio grillée au miso doux</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Shitabirama<span class="badge badge-pill badge-light ml-5 bg-primary text-light">28 euro</span></h2>
                                                <p class="font-italic">Sole flambée au vin blanc</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Maguro No Tataki<span class="badge badge-pill badge-light ml-5 bg-primary text-light">25 euro</span></h2>
                                                <p class="font-italic">Thon mi-cuit, sauce oignons vinaigrés</p>
                                            </div>
                                        </div>
                                      </div>
                            
                                    </div>




                                <div class="tab-pane fade" id="pills-desserts" role="tabpanel" aria-labelledby="pills-dessert-tab">
                                    <div class="container scroll">
                                        <div clas="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Matcha No Fondan Chocolat<span class="badge badge-pill badge-light bg-primary text-light">10 euro</span></h2>
                                            <p class="font-italic">Mi-cuit chocolat et coeur matcha - PRÉPARATION 15 MINUTES</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Ice Cream Mochi<span class="badge badge-pill badge-light ml-5 bg-primary text-light">9euro</span></h2>
                                            <p class="font-italic">Mochi glacé - 2 parfums au choix</p>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                              <h2 class="d-flex justify-content-between">Sakura mochi to matcha no ice cream<span class="badge badge-pill badge-light ml-5 bg-primary text-light">9 euro</span></h2>
                                              <p class="font-italic">Mochi à la fleur de cerisier et haricot rouge et sa glace thé vert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Sherbet<span class="badge badge-pill badge-light ml-5 bg-primary text-light">8 euro</span></h2>
                                                <p class="font-italic">Sorbet maison - yuzu ou shiso</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Kyo no furu-thu no moriwase<span class="badge badge-pill badge-light ml-5 bg-primary text-light">10 euro</span></h2>
                                                <p class="font-italic">Assiette de fruits frais de saison</p>
                                            </div>
                                        </div>
                                        
                                      </div>
                            
                                    </div>



                                <div class="tab-pane fade" id="pills-boissons" role="tabpanel" aria-labelledby="pills-boissons-tab">
                                    <div class="container scroll">
                                        <div clas="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            
                                            <h2 class="d-flex justify-content-between">Bières (33cl)<span class="badge badge-pill badge-light bg-primary text-light">6 euro</span></h2>
                                            <ul>
                                            <li class="font-italic">Coedo Ruri</li>
                                            <li class="font-italic">Coedo Beniaka</li>
                                            <li class="font-italic">Koedo Shirin</li>
                                            <li class="font-italic">Kido</li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                            <h2 class="d-flex justify-content-between">Whisky (6cl)<span class="badge badge-pill badge-light ml-5 bg-primary text-light">15euro</span></h2>
                                            <ul>
                                            <li class="font-italic">Nika Cofey Grain</li>
                                            <li class="font-italic">Nika from the barrel</li>
                                            <li class="font-italic">Nika blended</li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                              <h2 class="d-flex justify-content-between">Liqueur (7c)<span class="badge badge-pill badge-light ml-5 bg-primary text-light">15 euro</span></h2>
                                              <ul>
                                                  <li class="font-italic">Yuzushu</li>
                                                  <li class="font-italic">Umeshu</li>
                                              </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 d-flex flex-direction-column flex-wrap">
                                                <h2 class="d-flex justify-content-between">Soft (25cl)<span class="badge badge-pill badge-light ml-5 bg-primary text-light">4 euro</span></h2>
                                                <ul>
                                                    <li class="font-italic">Coca Cola</li>
                                                    <li class="font-italic">Fanta</li>
                                                    <li class="font-italic">Jus d'orange</li>
                                                    <li class="font-italic">Soda litchi</li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                      </div>
                            
                                    </div>
            
                                </div>
                              </div>
                    
                    
                              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                            </section>
        </body>
        </html>